<div class="container pt-4" style="margin-top:100px; margin-bottom:100px;">

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary pb-3" *ngIf="!form.data.id">
                        {{'AccessLog.AddTitle' | translate}}
                    </h3>

                    <h3 class="text-center text-primary pb-3" *ngIf="form.data.id>0">
                        {{'AccessLog.UpdateTitle' | translate}}
                    </h3>

                    <!-- SUCCESS -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- ERROR -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <form>

                        <!-- ACCESS LOG CODE -->
                        <label>
                            <b>{{'AccessLog.AccesslogCode' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-code"></i>
                                </div>
                            </div>

                            <input type="text" class="form-control" name="accesslogCode"
                                [(ngModel)]="form.data.accesslogCode"
                                placeholder="{{'AccessLog.Placeholders.AccesslogCode' | translate}}">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.accesslogCode}}</span>
                        </div>


                        <!-- USER NAME -->
                        <label class="mt-2">
                            <b>{{'AccessLog.UserName' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>

                            <input type="text" class="form-control" name="username" [(ngModel)]="form.data.username"
                                placeholder="{{'AccessLog.Placeholders.UserName' | translate}}">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.username}}</span>
                        </div>


                        <!-- ACCESS TIME -->
                        <label class="mt-2">
                            <b>{{'AccessLog.AccessTime' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-clock"></i>
                                </div>
                            </div>

                            <input type="datetime-local" class="form-control" name="accessTime"
                                [(ngModel)]="form.data.accessTime">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.accessTime}}</span>
                        </div>


                        <!-- STATUS -->
                        <label class="mt-2">
                            <b>{{'AccessLog.Status' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-toggle-on"></i>
                                </div>
                            </div>

                            <select class="form-control" name="status" [(ngModel)]="form.data.status">

                                <option value="undefined">
                                    {{'SelectOptions.Select' | translate}}
                                </option>

                                <option *ngFor="let obj of form.preload.accessLogList" [value]="obj.key">
                                {{obj.value}}
                            </option>

                                <!-- <option value="SUCCESS">
                                    {{'SelectOptions.Success' | translate}}
                                </option>

                                <option value="FAILED">
                                    {{'SelectOptions.Failed' | translate}}
                                </option>

                                <option value="BLOCKED">
                                    {{'SelectOptions.Blocked' | translate}}
                                </option> -->

                            </select>
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.status}}</span>
                        </div>


                        <!-- BUTTONS -->
                        <div class="text-center mt-3">

                            <button *ngIf="!form.data.id" type="button" class="btn btn-success" (click)="submit()">
                                {{'Buttons.Save' | translate}}
                            </button>

                            &nbsp;

                            <button *ngIf="!form.data.id" type="button" class="btn btn-warning btn-md"
                                (click)="reset()">
                                {{'Buttons.Reset' | translate}}
                            </button>

                            <button *ngIf="form.data.id > 0" type="button" class="btn btn-primary" (click)="submit()">
                                {{'Buttons.Update' | translate}}
                            </button>

                            &nbsp;

                            <button *ngIf="form.data.id > 0" type="button" class="btn btn-info"
                                (click)="forward('/accessloglist')">
                                {{'Buttons.List' | translate}}
                            </button>

                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>